@model M2ICarsASP.Models.SearchResultsViewModel
@{
    ViewBag.Title = "Search";
}

<section class="container search-container">
    <div class="col-md-3">
        <h3>Choisissez un chauffeur</h3>
        <hr />
        @using (@Html.BeginForm("SelectDriver", "Search", FormMethod.Post, new { @class = "driver-form" }))
        {
            @Html.AntiForgeryToken()
            
            <div class="funkyradio driver-list">
                @for (int i = 0; i < Model.Drivers.Count; i++)
                {
                    <input type="hidden" name="driverId" value="@Model.Drivers[i].DriverId"/>
                    <input type="hidden" name="departureLocation" value="@Model.departure"/>
                    <input type="hidden" name="arrivalLocation" value="@Model.arrival"/>
                    <div class="funkyradio-success driver" pos="@Model.Drivers[i].Location">
                        @if (i == 0)
                        {
                            <input type="radio" name="driverRadio" id="@Model.Drivers[i].LastName" value="@Model.Drivers[i].LastName" checked/>
                        }
                        else
                        {
                            <input type="radio" name="driverRadio" id="@Model.Drivers[i].LastName" value="@Model.Drivers[i].LastName" />
                        }

                        <label for="@Model.Drivers[i].LastName">@Model.Drivers[i].LastName</label>
                    </div>
                }        
            </div>
            <div class="form-group">
                <div class="col-10">
                    <input id="select" type="submit" value="Choisir ce chauffeur" class="btn btn-primary" />
                </div>
            </div>
        }
        <span id="departure" hidden>@Model.departure</span>
        <span id="arrival" hidden>@Model.arrival</span>                
    </div>
    <section id="map" class="col-md-9"></section> 
    <img src="~/Content/Images/search.jpg" />
</section>

