@model M2ICarsASP.Models.Client

@{
    ViewBag.Script = "ClientAccount.js";
    ViewBag.Title = "Gestion Compte Client";
}

<div class="container account-container">      
    <h2>Gestion du Compte</h2>
    <div class="col-md-12 inner-account-container container">
        <h4>Informations personnelles</h4>
        @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-6">
                <div class="form-inline container account-form-inline">
                    <label class="col-md-2" for="Email">Mail</label>
                    <input type="text" id="Email" name="Email" class="form-control col-md-3" value="@Model.Email" />
                </div>

                <div class="form-inline container account-form-inline">
                    <label class="col-md-2" for="LastName">Nom</label>
                    <input type="text" id="LastName" name="LastName" class="form-control col-md-3" value="@Model.LastName" />
                </div>

                <div class="form-inline container account-form-inline">
                    <label class="col-md-2" for="FirstName">Prenom</label>
                    <input type="text" id="FirstName" name="FirstName" class="form-control col-md-3" value="@Model.FirstName" />
                </div>

                <div class="form-inline container account-form-inline">
                    <label class="col-md-2" for="Gender">Genre</label>
                    @Html.EnumDropDownListFor(model => model.Gender, new { @class = "form-control col-md-2" })
                </div>

                <div class="form-inline container account-form-inline">
                    <label class="col-md-2" for="Birthday">Date de naissance</label>
                    <input type="text" id="Birthday" class="form-control col-md-3" name="Birthday" value="@Model.Birthday.ToString("d")" />
                </div>

                <div class="form-inline container account-form-inline">
                    <label class="col-md-2" for="Phone">Téléphone</label>
                    <input type="text" id="Phone" name="Phone" class="form-control col-md-3" value="@Model.Phone" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline container">
                    <img id="profileImg" src="@Url.Content("~/Content/Images/" + Model.PhotoUrl)" height="200" width="200" />
                </div>

                <div>
                    <label for="imageURL" class="label-file">Choisir une image</label>
                    <input type="file" id="imageURL" class="input-file" name="PhotoUrl" value="" />
                </div>
            </div>

            <input type="submit" class="btn btn-primary col-md-offset-4 col-md-3 account-btn" value="Enregistrer les modifications" />
        }
    </div>

    <div class="container inner-account-container col-md-12">
        <h4>Redéfinir adresse mail & mot de passe</h4>
        @using (Html.BeginForm("ChangeUserPassword", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-inline container account-form-inline">
                <label class="col-md-2"> Ancien mot de passe</label>
                <input class="col-md-3 form-control" type="password" name="oldpass" />
            </div>
            <div class="form-inline container account-form-inline">
                <label class="col-md-2"> Nouveau mot de passe</label>
                <input class="col-md-3 form-control" type="password" name="newpass" />
            </div>
            <input type="submit" class="btn btn-primary col-md-offset-4 col-md-3 account-btn" name="passconfirm" value="Modifier le mot de passe" />
        }
    </div>
</div>
