@{
    ViewBag.Title = "Connexion";
}

<section class="container homeContainer">
    @if (ViewBag.Info != null)
    {
        <p class="alert-info">@ViewBag.Info</p>
    }
    <h2>Connexion</h2>
    <div class="form-container col-md-6">
        <h3>Passager</h3>
        <p>Retrouvez toutes les informations dont vous avez besoin pour réussir sur la route et réserver le trajet qui vous convient</p>
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-10">
                <label>Email</label>
                <input class="form-control" type="text" name="email" placeholder="Votre adresse email" />
            </div>

            <div class="col-10">
                <label>Mot de passe</label>
                <input class="form-control" type="password" name="pass" placeholder="Votre mot de passe" />
            </div>

            <div class="col-10">
                <input type="submit" class="btn btn-primary" value="Se connecter" />                
            </div>
            <div class="home-register">
                <span>Vous n'avez pas de compte ? </span>
                @Html.ActionLink("S'inscrire", "Register", "Home", new { area = "" }, new { @class = "" })
            </div>
        }
    </div>
    <div class="form-container col-md-6">
        <h3>Conducteur</h3>
        <p>Gérez vos options de paiement, parcourez l'historique de vos courses et bien plus encore.</p>
        @using (Html.BeginForm("LoginPrest", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-10">
                <label>Email</label>
                <input class="form-control" type="text" name="prestemail" placeholder="Votre adresse email" />
            </div>

            <div class="col-10">
                <label>Mot de passe</label>
                <input class="form-control" type="password" name="prestpass" placeholder="Votre mot de passe" />
            </div>

            <div class="col-10">
                <input type="submit" class="btn btn-primary" value="Se connecter" />
            </div>
            <div class="home-register">
                <span>Vous n'avez pas de compte ? </span>
                @Html.ActionLink("S'inscrire", "RegisterPrest", "Home", new { area = "" }, new { @class = "" })
            </div>
        }
    </div>
    <img src="~/Content/Images/home.jpg" />
</section>