<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top myNavBar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("M2ICars", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["clientId"] != null)
                    {
                        <li>@Html.ActionLink("0", "", "", new { id = "notifBtn" })</li>
                        <li>@Html.ActionLink("Mon Compte", "ClientAccount", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="notif">
            <h4>Mon Compte</h4>
            <p>@Html.ActionLink("Gérer mon compte", "ClientAccount", "Home")</p>
            <p>@Html.ActionLink("Me déconnecter", "ClientAccount", "Home")</p>
            <h4>Notifications</h4>            
            @if (ViewBag.Notifications != null)
            {
                foreach(var item in ViewBag.Notifications)
                {
                    <p>@item.Message</p>
                }
            } else
            {
                <p>Vous n'avez pas de notifications</p>
            }
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/NotificationScript.js")"></script>
    @if (ViewBag.Script != null)
    {
        <script src="@Url.Content("~/Scripts/"+@ViewBag.Script)"></script>
    }

    @if (ViewBag.GoogleScript != null)
    {
        <script src="@ViewBag.GoogleScript" async defer></script>
    }
</body>
</html>
